# Python-related
build/
dist/
*.pyc
__pycache__/
gdc_ng_models.egg-info/
.python-version

# IDE
.idea/
.vscode/

# Virtualenv
venv*/
.venv/

# Tox
.tox
.cache
.coverage
coverage.xml
htmlcov/
test-reports/

# Jenkins 
.local/
.eggs/
.ssh/
*/_version.py
wait-for-it.sh

# vim
*.swp
