flake8==3.7.7
pytest==4.6.3
tox==3.13.2
pytz==2019.3

-e git+https://git@github.com/NCI-GDC/cdisutils.git@1.3.0#egg=cdisutils
black==19.10b0;python_version>="3.6"
pre-commit==2.2.0;python_version>="3.6"
